/******** Configurações gerais ************/
html,body,h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Heebo', sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2{
    margin: 0;
}

/********* Menu-Index ***********/
nav{
    background-color: transparent;
    border-bottom: 1px solid white; 
}

.nav-wrapper{
    background-color: transparent;
}

/******* Index ***********/
.titulos-index{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media(max-width: 420px){
    .titulos-index{
        font-size: 30pt;
    }
}


/******* Banner ***********/
#bg-banner{
    min-height: 100vh;
    margin-top: -64px;
    background-image: url("../img/capa.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#filtro-banner{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(56, 70, 165, 0.7);
}

#txt-contador{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

#titulo-pagina-princ{
    font-weight: bold;
}

#txt-sub{
    font-size: 15pt;
    font-weight: normal;
}

@media(max-width: 420px){
    #titulo-pagina-princ{
        font-size: 35pt;
    }

    #txt-sub{
        font-size: 13pt;
        font-weight: normal;
    }
}

#contador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-contador{
    background-color: rgba(242, 129, 17, 0.801);
    height: 100px;
    width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 320px){
    .bg-contador{
        margin-left: 7px;
        margin-right: 7px;
    }
}

.txt-number-cont{
    font-size: 30pt;
    font-weight: 600;
}

.bloco-sep{
    height: 40px;
    display: grid;
    align-items: center;
}

.separador{
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 100%;
}

/******* Scratch UEA **********/
#txt-resumo{
    text-align: justify;
    font-weight: 600;
}

#img-resumo{
    display: flex;
    justify-content: center;
}

#img-resumo img{
    border-radius: 10px;
}

/******* Ferramentas Utilizadas **********/
.nome-ferramenta{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.card-ferramenta{
    border-radius: 10px;
}